@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #404040;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif !important;
}

.MuiTypography-root,
.MuiInputBase-root,
.MuiButton-root {
  font-family: 'Poppins', sans-serif !important;
}

.MuiInputBase-input {
  color: #757575 !important;
}

.MuiOutlinedInput-root {
  border-radius: 8px !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiInputBase-input {
  color: #424242 !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-width: 2px !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ccc !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ccc !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #424242 !important;
}

.MuiInputLabel-root {
  color: #424242 !important;
  font-family: "Poppins", sans-serif !important;
}

.MuiCheckbox-root {
  color: #222 !important;
}

.MuiFormControl-root:not(:has(.Mui-focused)) .MuiInputLabel-root {
  color: #ccc !important;
}

.MuiButton-contained {
  color: white !important;
  font-weight: bold !important;
  text-transform: none !important;
  border-radius: 8px !important;
  font-size: 0.80rem !important;
  padding: 16px 16px !important;
}

.MuiFormLabel-asterisk {
  display: none !important;
}
